
/* src/styles/Common.css */
.container {
    height: calc(100dvh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    container-type: inline-size;
}

.welcome-message {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* 공통 메시지 입력 및 버튼 스타일 */
.input-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    margin-bottom: 40px;
    width: 85%;
    max-width: 720px;
    padding: 10px;
    background-color: rgb(244, 244, 244);
    opacity: 1;
}

/* Main 페이지의 input-area */
.main-input-area {
    top: 50%;
    transform: translateY(-50%);
}

/* 메세지 입력의 textarea */
.message-input,
.user-message-input {
    width: 100%;
    height: 90px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
}

.message-input::-webkit-scrollbar,
.user-message-input::-webkit-scrollbar {
    width: 8px;
}

.message-input::-webkit-scrollbar-thumb,
.user-message-input::-webkit-scrollbar-thumb {
    background: rgb(236, 236, 236);
    border-radius: 4px;
}

/* 공통 버튼 스타일 */
.send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #f0f0f0;
}

/* send-button 내 로딩 아이콘 컨테이너 */
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.spinner {
    font-size: 20px;
    animation: spin 1s linear infinite;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.stop-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.send-button:hover .spinner {
    opacity: 0;
    visibility: hidden;
}

.send-button:hover .stop-icon {
    display: block;
    opacity: 1;
    visibility: visible;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .welcome-message {
        position: fixed;
        font-size: 25px;
        top: calc(50% - 60px);
        transform: translateY(-50%);
    }
    .input-area {
        margin-bottom: 20px;
    }
    .main-input-area {
        position: fixed;
        top: auto;
        transform: none;
        bottom: 0;
    }
}