/* 공통 헤더 스타일 */
.header {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽을 분리 */
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    flex: 0 0 60px;
    padding: 0px 20px;
}

/* 헤더 왼쪽 컨테이너 */
.header-left {
    display: flex;
    align-items: center;
    position: relative;
}

/* 헤더 아이콘 컨테이너 */
.header-right {
    display: flex;
    position: relative;
}

/* 개별 헤더 아이콘 */
.header-icon {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.toggle-icon {
    padding: 0 10px;
}

/* 모델 선택 박스 */
.model-box {
    display: flex;
    align-items: center;
    padding: 5px 10px 7px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.model-box:hover {
    background-color: #f9f9f9;
}

.expand-icon {
    margin: 1px 0 0 5px;
    font-size: 12px;
    color: rgb(180, 180, 180);
    stroke-width: 1px;
}

/* 모달 오버레이 배경 블러 효과 */
.hmodal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}

/* 모델 선택 모달 창 */
.hmodal {
    padding: 20px;
    width: 400px;
    max-height: 80%;
    font-size: 20px;
    color: #333;
    overflow-y: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* 모델 리스트 */
.model-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

/* 개별 모델 아이템 */
.model-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.model-alias {
    text-align: center;
}

.model-description {
    margin-top: 8px;
    font-size: 15px;
}

/* 온도 슬라이더 컨테이너 */
.slider-container {
    display: flex;
    position: absolute;
    width: 160px;
    top: 50%;
    right: 100%;
    padding: 0 15px;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    animation: fadeIn 0.3s ease;
}

.slider-wrapper {
    position: relative;
    width: 100%;
}

/* 슬라이더 스타일 */
.temperature-slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 15px 0;
    width: 100%;
    height: 10px;
    background: #eeeeee;
    border-radius: 10px;
    outline: none;
    transition: background 0.2s;
    cursor: pointer;
}

.temperature-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #777;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

/* 슬라이더 스타일 */
.reason-slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 15px 0;
    width: 100%;
    height: 10px;
    background: #eeeeee;
    border-radius: 10px;
    outline: none;
    transition: background 0.2s;
    cursor: pointer;
}

.reason-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #777;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.slider-value {
    position: absolute;
    top: 34px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    background-color: transparent;
    color: #333;
    pointer-events: none;
}

.system-message-container {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    width: 450px;
    padding: 5px;
    margin-right: 10px;
    background-color: rgb(248, 248, 248);
    z-index: 1;
    border-radius: 10px;
}

/* 시스템 메시지 입력 필드 */
.system-message-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.header-icon .disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

/* 반응형 디자인 */
@media (max-width: 840px) {
    .system-message-container {
        width: 380px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 10px;
    }
    .system-message-container {
        width: calc(100vw - 120px);
    }
}